{% extends 'base.html'%}
{% block content %}

    <div class="container" style="color:#45494b;">
      <h4><b>{{ current_user.club_name}}さんのアカウントページ</b>
      {% if current_user.type > 1 %}
        <a class="btn btn-outline-primary btn-sm" href="{{url_for('users.user_posts',username=current_user.username)}}">プロフィールを確認する</a>
      {% endif %}
    </h4>
    {% for error in form.type.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.email.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.university.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.club_name.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.name.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.info.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.event.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.url.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.club_number.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.club_place.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.club_active.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.money.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.twitter.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.facebook.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.instagram.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {% for error in form.picture.errors %}
      <span style="color: red;">{{ error }}</span><br>
    {% endfor %}

<div class="tab_box tab_box_user">
  <ul class="tab" style="display: inline-block;">
    <li class="tab_list active"><b>アカウント情報</b></li>
    <li class="tab_list"><b>ブックマーク</b></li>
  </ul>
</div>

<div class="area">
  <div class="test show">
    <div style="padding-top:50px;" align='center'>
      <img class="account_image" src="{{current_user.profile_image}}" >
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
      {{form.hidden_tag()}}


        <div class="form-group">
          <h5><i class="fas fa-user-check"></i>{{form.type.label(class="form-control-label")}}</h5>
          {{form.type(class="form-control form-contorl-lg")}}<br>
          <p>団体カテゴリについては下記サイトをご参照ください。<br>
            <a target=”_blank” href="https://www.komazawa-u.ac.jp/campuslife/contact-information/student-part/extracurricular-activities-circle/introduction.html">駒澤大学サークル紹介</a>
          </p>
        </div>
      <div class="form-group">
        <h5><i class="fas fa-users"></i>{{form.username.label(class='form-group')}}</h5>
        {{form.username(class='form_input form-control')}}
        <p>*半角英数字のみ有効です</p>
      </div>
      <div class="form-group">
       <h5><i class="far fa-envelope"></i>{{form.email.label(class='form-group')}}</h5>
      {{form.email(placeholder="komazawa@gmail.com",class='form_input form-control')}}
      </div>
      <div class="form-group">
        <h5><i class="fas fa-university"></i>{{form.university.label(class='form-group')}}</h5>
        {{form.university(placeholder="所属大学",class='form_input form-control')}}
      </div>
      <div class="form-group">
        {% if current_user.type == 1%}
        <h5><i class="fas fa-users form-group"></i>ユーザー名</h5>
        {% else %}
          <h5><i class="fas fa-users"></i>{{form.club_name.label(class='form-group')}}</h5>
        {% endif %}
        {{form.club_name(placeholder="サークルやゼミの団体名を入力してください",class='form_input form-control')}}
      </div>
      {% if not current_user.type == 1%}
        <div class="form-group">
          <h5><i class="fas fa-users"></i>{{form.name.label(class='form-group')}}</h5>
          {{form.name(placeholder="団体の代表者を入力してください",class='form_input form-control')}}
        </div>
        <div class="form-group">
        <h5><i class="fas fa-info"></i>{{form.info.label(class='form-group')}}</h5>
        {{form.info(placeholder="団体の概要、活動内容、人数、活動頻度、活動場所、会費などを入力してください",rows="15",class='form-control')}}
        </div>
        <div class="form-group">
        <h5><i class="fas fa-info"></i>{{form.event.label(class='form-group')}}</h5>
        {{form.event(placeholder="例)4月新歓活動,5月BBQ,6月大会出場など、月ごとに縦書きで記入すると見やすいですよ　",rows="15",class='form-control')}}
        </div>
        <div class="form-group">
        <h5><i class="fas fa-calendar-day"></i>{{form.url.label(class='form-group')}}</h5>
        {{form.url(placeholder="公式HPなどがあればURLを記入してください",class='form_input form-control')}}
        </div>
        <div class="form-group">
        <h5><i class="fas fa-calendar-day"></i>{{form.club_number.label(class='form-group')}}</h5>
        {{form.club_number(placeholder="例)42人（男：22人 女：20人）",class='form_input form-control')}}
        </div>
        <div class="form-group">
        <h5><i class="fas fa-calendar-day"></i>{{form.club_place.label(class='form-group')}}</h5>
        {{form.club_place(placeholder="例)駒澤大学8-232",class='form_input form-control')}}
        </div>
        <div class="form-group">
        <h5><i class="fas fa-calendar-day"></i>{{form.club_active.label(class='form-group')}}</h5>
        {{form.club_active(placeholder="例)火曜日18〜20、土曜日16〜18",class='form_input form-control')}}

        </div>
        <div class="form-group">
        <h5><i class="fas fa-calendar-day"></i>{{form.money.label(class='form-group')}}</h5>
        {{form.money(placeholder="例)入会費1000円　会費月)1500円",class='form_input form-control')}}
        </div>
        <div class="form-group">
          <h5><i class="fab fa-twitter" style="color:#00acee; "></i>{{form.twitter.label(class='form-group')}}</h5>
        <span>https://twitter.com</span>{{form.twitter(placeholder="/username/",class='form_input form-control')}}
        <p>*@以降のユーザー名のみを入力してください。例)Komanek43918143</p>

        </div>
        <div class="form-group">
        <h5><i class="fab fa-facebook-square" style="color:#3B5998;"></i>{{form.facebook.label(class='form-group')}}</h5>
        <span>https://www.facebook.com</span>{{form.facebook(placeholder="/username/",class='form_input form-control')}}
        <p>*https://www.facebook.com/以降に記載されているURLのみを入力してください。例)Komanek43918143</p>

        </div>
        <div class="form-group">
        <h5><i class="fab fa-instagram"></i>{{form.instagram.label(class='form-group')}}<br></h5>
        <span>https://www.instagram.com</span>{{form.instagram(placeholder="/username/",class='form_input form-control')}}

        <p>*ユーザー名のみを入力してください。例)Komanek43918143</p>
        </div>
      {% endif %}
      <div class="form-group">
      <h5><i class="far fa-images"></i>

</h5>{{form.picture.label(class='form-group')}}
      ※jpg、png,jpeg,gifのみアップロードできます。<br>
      {{form.picture(class='form_input form-control')}}<br>
      </div>
      <div class="preview"></div>
      <div class="form-group">
      {{form.submit(class='btn btn-outline-primary')}}
      </div>
    </form>
</div>

<div class="test">
  <div class="index_box">
  {% for like in likes %}
  {% if like.post %}
    <div class="post_box_index" style="color:#45494b;">
      <div class="post_top">
        <h1 class="index_title"><b>{{like.post.title}}</b></h1>
      </div>
      <a class='card_title' href="{{ url_for('blog_posts.blog_post',blog_post_id=like.post.id)}}">
        <img class="index_image_index" align='center' src="{{like.post.event_image}}"></a>
        <div class="card_bottom_box">
            <div class="like_box">
              <div>
              {% if current_user.is_authenticated %}
              {% if current_user.has_liked_post(like.post) %}
                <div class="button condition{{like.post.id}} fas fa-paw cat_like_index"  condition="unlike" post_id="{{like.post.id}}"></div>
              {% else %}
                <div  class="button condition{{like.post.id}} fas fa-paw cat_unlike_index" condition="like" post_id="{{like.post.id}}"></div>
              {% endif %}
            {% else %}
                <a class="fas fa-paw cat_login_index" href="{{url_for('users.register')}}"></a>
            {% endif %}
            <span style="font-size:13px;" class="count{{like.post.id}} like_count">{{ like.post.likes.count()}}</span>
            </div>
            <div class="post_box_place_index">
              <p><i class="fas fa-thumbtack"></i>場所:<b>{{like.post.place}}</b><br>
                <b><i class="far fa-clock"></i>開始時間{{like.post.event_time.strftime('%H:%M')}}〜</b></p>
            </div>
          </div>
          <div class="event_date_box_index">
            <p class="event_date_index">開催日<br>
            <span style="font-size:10px;">{{like.post.event_date.strftime('%Y年')}}</span><br>
            {{like.post.event_date.strftime('%m月%d日')}}</p>
          </div>
        </div>
        <div class="post_user_box">
          <img align='center' class="user_image" src="{{like.post.author.profile_image}}">
          <h6 style="text-align:right;">投稿者:{{like.post.author.club_name}}<br>
            投稿日{{like.post.date.strftime('%Y年%m月%d日')}}</h6>
        </div>
      </div>

    {% endif %}
    {% endfor %}
    </div>

    </div>
  </div>
  </div>

  {% endblock %}
