{% extends 'base.html'%}
{% block content %}

  <div class="jumbotron">
    <div align='center'>
      <h1>{{ current_user.username}}さんアカウントページへようこそ</h1>
      <img align='center' src="{{current_user.profile_image}}" >
    </div>
  </div>

  <div class="container">
    <form method="POST" action="" enctype="multipart/form-data">

      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.type.label(class="form-control-label")}}
        {{form.type(class="form-control form-contorl-lg")}}<br>
        {% for error in form.type.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </div>
      <div class="form-group">
        {{form.username.label(class='form-group')}}
        {{form.username(class='form_input form-control')}}
      </div>
      <div class="form-group">
      {{form.university.label(class='form-group')}}
      {{form.university(placeholder="所属大学",class='form_input form-control')}}
      </div>
      <div class="form-group">
      {{form.email.label(class='form-group')}}
      {{form.email(placeholder="komazawa@gmail.com",class='form_input form-control')}}
      </div>
      <div class="form-group">
      {{form.info.label(class='form-group')}}
      {{form.info(placeholder="団体(サークル情報などを入力してください)",rows="15",class='form-control')}}
      </div>
      <div class="form-group">
      {{form.url.label(class='form-group')}}
      {{form.url(placeholder="HP URL",class='form_input form-control')}}
      </div>
      <div class="form-group">
        <i class="fab fa-twitter" style="color:#00acee; font-size:30px;"></i>{{form.twitter.label(class='form-group')}}<br>
      <span>https://twitter.com</span>{{form.twitter(placeholder="/username/",class='form_input form-control')}}
      </div>
      <div class="form-group">
      <i class="fab fa-facebook-square" style="color:#3B5998; font-size:30px;"></i>{{form.facebook.label(class='form-group')}}<br>
      <span>https://www.facebook.com</span>{{form.facebook(placeholder="/username/",class='form_input form-control')}}
      </div>
      <div class="form-group">
      <i class="fab fa-instagram" style="font-size:30px;"></i>{{form.instagram.label(class='form-group')}}<br>
      <span>https://www.instagram.com</span>{{form.instagram(placeholder="/username/",class='form_input form-control')}}
      </div>
      <div class="form-group">
        ※jpg、png,jpeg,gifのみアップロードできます。
      {{form.picture.label(class='form-group')}}
      {{form.picture(class='form_input form-control')}}<br>
      </div>
      <div class="preview"></div>
      <div class="form-group">
      {{form.submit(class='btn btn-primary')}}
      </div>
    </form>

  </div>

  {% endblock %}
