{% extends 'base.html'%}
{% block content %}

<p class="page-top"><a class="fas fa-angle-up" href="#wrap"></a></p>

<div class="all_container" style="color:#45494b;">
<h1 class="details_title" style="text-align:center;"><i class="fas fa-users"></i><b>登録団体一覧</b></h1>
  <div class="all_box">
    {% for all in alls %}
      <div class="all_details">
        <h1 class="all_name"><b>{{all.club_name}}</b></h1>
        <a href="{{url_for('users.user_posts',username=all.username)}}">
        <img src="{{all.profile_image}}">
        </a>
      </div>
    {% else %}
      <h2>登録している団体はありません</h2>
    {% endfor %}
  </div>
</div>
{% endblock %}
