<!DOCTYPE html>
<html style="height:100%;" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc.css') }}"media="(min-width: 1024px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablet.css') }}"media="(min-width: 640px) and (max-width: 1023px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='phone.css') }}"media="(min-width: 320px) and (max-width: 639px)">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <script type="text/javascript">

  </script>

  <body style="height:100%;">
    <header>
      <h1 class="header_logo"><a  style="text-decoration:none; color:white;" href="{{url_for('core.index')}}"><i class="fas fa-cat header_cat"></i><b>KomaNeko</b></a></h1>
      <div class="header_sp">
        <ul class="header_left">
          {% if not current_user.is_authenticated %}
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.login')}}"><b>ログイン</b></a></li>
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.signup')}}"><b>ユーザー登録(個人)</b></a></li>
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.register')}}"><b>団体アカウントを登録</b></a></li>
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.all')}}"><b>登録団体一覧</b></a></li>
          {% endif %}
        </ul>
        <ul class="header_right">
          {% if current_user.is_authenticated %}
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.logout')}}"><b>ログアウト</b></a></li>
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.account')}}"><b>プロフィール</b></a></li>
          <li class="header_list"><a style="text-decoration:none;" class="menu" href="{{url_for('users.all')}}"><b>登録団体一覧</b></a></li>
          {% endif %}
          <li class="header_list header_event"><a style="text-decoration:none;" class="menu" href="{{url_for('blog_posts.create_post')}}"><b>イベントを作成する</b></a></li>
        </ul>
      </div>
      <div class="menu_btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
    <div class="header-padding"></div>


{% for mess in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show flash_color" style="background:rgba(60,76,222,0.8);" role='alert'>
  <button type="button" data-dismiss='alert' aria-label='close' class='fade close'>
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="flash_font" id="copy_msg">{{ mess }}</h3>
</div>
{% endfor %}




 <div style="min-height: 100%;">
    {% block content %}
    {% endblock %}
 </div>

<footer style="height:70px; background-color:rgba(121,74,168,0.9); width:100%; text-align:center;">
<p style=" font-size:20px; cursor:pointer;" class="menu"><b>© 2019 KomaNeko</b></p>
<ul class="footer_right">
  <li class="footer_list"><a style="text-decoration:none;" class="menu" href="{{url_for('core.term')}}"><b>利用規約</b></a></li>
  <li class="footer_list"><a style="text-decoration:none;" class="menu" href=""><b>プライバシーポリシー</b></a></li>
  <li class="footer_list"><a style="text-decoration:none;" class="menu" href=""><b>運営メンバー</b></a></li>
</ul>
</footer>

  </body>
</html>
