<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc.css') }}"media="(min-width: 1024px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablet.css') }}"media="(min-width: 640px) and (max-width: 1023px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='phone.css') }}"media="(min-width: 320px) and (max-width: 639px)">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="opacity:0.8;　background-color: #794aa8;">
  <a style="color:white;" class="navbar-brand" href="#"><i class="fas fa-cat" style="font-size:60px;"></i><b>KomaNeko</b>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class='nav-link'>
        <a style="color:white;" href="{{url_for('core.index')}}">HOME</a>
      </li>
      <li class='nav-link'>
        <a style="color:white;" href="{{url_for('core.info')}}">Koma Event</a>
      </li>
      <li class='nav-link'>
        <a style="color:white;" href="{{ url_for('users.all') }}">団体サークル一覧</a>
      </li>
    {% if current_user.is_authenticated %}
      <li class='nav-link'>
        <a style="color:white;" href="{{url_for('users.logout')}}">ログアウト</a>
      </li>
      <li class='nav-link'>
        <a style="color:white;" href="{{url_for('users.account')}}">Account</a>
      </li>
      <li class='nav-link'>
        <a style="color:white;" href="{{ url_for('blog_posts.create_post') }}">イベントを作成する</a>
      </li>
    {% else %}
      <li class='nav-link'>
        <a style="color:white;" href="{{url_for('users.login')}}">ログイン</a>
      </li>
      <li class='nav-link'>
        <a style="color:white;" href="{{url_for('users.register')}}">ユーザー登録</a>
      </li>
    {% endif %}
    </ul>
  </div>
</nav>
{% for mess in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show flash_color" style="background:rgba(148,110,185,1);" role='alert'>
  <button type="button" data-dismiss='alert' aria-label='close' class='fade close'>
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="flash_font">{{ mess }}</h3>
</div>
{% endfor %}




<!-- <div class="container"> -->
    {% block content %}
    {% endblock %}
<!-- </div> -->

  </body>
</html>
