<head>
  <script src="jquery.qrcode.min.js"></script>
  <meta name="twitter:creator" content="@for_engineerb">
  <meta property="og:title" content="{{post.title}}">
  <meta property="og:description" content="{{post.text}}">
  <meta property="og:url" content="{{url}}">
  <meta name="twitter:site" content="@for_engineerb">
  <meta property="og:image" content="{{post.event_image}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@granfairs">
  <meta name="twitter:title" content="{{post.title}}">
  <meta name="twitter:description" content="{{post.text}}">
</head>

{%extends "base.html"%}


{%block content %}
<!-- <button type="button" onclick="search()">検索</button> -->
<p class="page-top"><a class="fas fa-angle-up" href="#wrap"></a></p>

<div class="post_box"　style="color:#45494b;">
<!-- <div class="social">
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="link twitter witter-share-button" target="_parent" data-text="{{post.title}}" data-hashtags="駒澤大学" data-hashtags="KOMAeve" data-size="large"　data-show-count="false"><span class="fab fa-twitter"></span></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> -->
  <div class="post_details">
    <h1><i class="far fa-edit" style="text-align:center;"></i><b>{{post.title}}</b></h1>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class=" twitter-share-button" data-text="{{post.title}}" data-hashtags="駒澤大学" data-hashtags="KomaNeco" data-size="large"　data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h3 style="text-align:right;">投稿日:{{post.date.strftime('%Y年%m月%d日')}}</h3>
    <!-- <img align='center' class="user_image" src="{{post.author.profile_image}}"> -->

    <h3 style="text-align:right;" class="author_name_post">投稿者:{{post.author.club_name}}</h3>
    {% if post.author == current_user %}
    <div>
      <a class="btn btn-outline-primary btn-sm" href="{{url_for('blog_posts.update',blog_post_id=post.id)}}">投稿内容を編集する</a>
      <button type="button" class="btn btn-outline-danger btn-sm" data-toggle='modal' data-target="#modal">投稿を削除する</button>
    </div>
    {% endif %}
    <img style="width:100%; padding: 0 auto;" class="index_image" src="{{post.event_image}}" >
    <p style="text-align:left;"><b><i class="far fa-clock"></i>開始時間:{{post.event_time.strftime('%H:%M')}}〜</b></p>
    <div class="post_info_box">
      <div class="post_info_details">
        <!-- <i class="fas fa-paperclip post_copy copy_btn" id="copyButton" onclick="copyToClipboard()"></i>
        <input style="position: absolute; top:-3000px;" type="text" id="copyTarget" value="{{url}}"> -->
        <div class="like_box_like post_like">
        {% if current_user.is_authenticated %}
        {% if current_user.has_liked_post(post) %}
          <div class="button condition{{post.id}} fas fa-cat cat_like_index cat_like"  condition="unlike" post_id="{{post.id}}"></div>
        {% else %}
          <div  class="button condition{{post.id}} fas fa-cat cat_unlike_index cat_unlike" condition="like" post_id="{{post.id}}"></div>
        {% endif %}
        {% else %}
          <a class="fas fa-cat cat_login_index cat_login" href="{{url_for('users.register')}}"></a>
        {% endif %}
        <span class="count{{post.id}} like_count">{{ post.likes.count()}}</span>
        </div>
        <!-- コピーボタン -->
      </div>
      <div class="event_date_box_index event_date_box event_date_blog_post">
        <p class="event_date_index event_date event_date_post">開催日<br>
        <span style="font-size:12px;">{{post.event_date.strftime('%Y年')}}</span><br>
        {{post.event_date.strftime('%m月%d日')}}</p>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">投稿の削除</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>投稿を削除してもよろしいでしょうか?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">キャンセル</button>

            <form action="{{url_for('blog_posts.delete_post',blog_post_id=post.id)}}" method="post">
              <input class="btn btn-outline-danger" type="submit" value="削除">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align:left;width:100%;">
    <h2 class="details_title"><i class="far fa-calendar-alt"></i>イベント詳細</h2>
    {% autoescape false %}
      <p>{{post.text.replace('\n', '<br>')}}</p>
    {% endautoescape %}
    <h2 class="details_title"><i class="far fa-user"></i>主催者</h2>
    <p>{{post.organizer}}</p>
    <h2 class="details_title"><i class="fas fa-thumbtack"></i>場所</h2>
    <p id="places">{{post.place}}</p>
    <iframe frameborder="0" style="margin: 30px 0;width:100%; height:50%;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAu7SJ8PPOE7joPkc3Fdo9N_ilqgJLZb94&q={{post.place}}"allowfullscreen>
  </iframe>
    <h2 class="details_title"><i class="far fa-check-circle"></i>参加条件</h2>
    {% autoescape false %}
      <p>{{post.entry.replace('\n', '<br>')}}</p>
    {% endautoescape %}
    <h2 class="details_title"><i class="far fa-flag"></i>参加方法</h2>
    {% autoescape false %}
      <p>{{post.way.replace('\n', '<br>')}}</p>
    {% endautoescape %}
    <h2 class="details_title"><i class="fas fa-yen-sign"></i>参加費用</h2>
    <p>{{post.cost}}</p>
    <h2 class="details_title"><i class="far fa-address-card"></i>問い合わせ</h2>
    <p>{{post.contact}}</p>
    <h2 class="details_title"><i class="fas fa-qrcode"></i>QRコード</h2>
    <div id="qrcode" style="width:150px; margin:0 auto;">
      <script type="text/javascript">
        var url = '';
        url += 'https://api.qrserver.com/v1/create-qr-code/?data=';
        url += encodeURIComponent(location.href);
        // 背景の色
        url += '&bgcolor=FFFFFF';
        // バーコードの色
        url += '&color=000000';
        // 余白
        url += '&qzone=0';
        // こっちも余白
        url += '&margin=0';
        // エラー訂正レベル
        url += '&ecc=L';
        // サイズ
        url += '&size=150x150';
        document.write('<img src=\"' + url + '\" />');
      </script>

    </div>

    <a class="btn btn-outline-primary btn-sm" style="width:200px; auto;margin: 50px auto; display: block;" href="{{url_for('core.index')}}">イベント一覧へ戻る</a>
    </div>
  </div>

</div>



{% endblock content %}
