
<head>
        <meta name="twitter:creator" content="@Komanek43918143">
        <meta property="og:title" content="駒澤大学生向け学内団体情報とイベント共有サイト「KOMANEKO」">
        <meta property="og:description" content="KOMAFOODを通じて駒澤大学周辺で新しい食と空間の出会いを提供できるようなサイトを目指します。">
        <meta property="og:url" content="{{url}}">
        <meta name="twitter:site" content="@Komanek43918143">
        <meta property="og:image" content="{{url}}static/komaneko-logo-sns.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@Komanek43918143">
        <meta name="twitter:title" content="駒澤大学生向け学内団体情報とイベント共有サイト「KOMANEKO」">
        <meta name="twitter:description" content="KOMAFOODを通じて大学生活に新しい食と空間の出会いを提供できるようなサイトを目指します。">
    </head>


{% extends 'base.html'%}
{% block content %}
<p class="page-top"><a class="fas fa-angle-up" href="#wrap"></a></p>

<h1 class="event_top" style="color:#45494b;"><i class="fas fa-utensils"></i>
    <b>KOMAFOOD</b>
</h1>
<div class="site_box" style="background-image:linear-gradient(-210deg, #BC32A4 0%, #E03768 50%, #F67C33 100%); opacity:0.9;">
    <h2 class="intro_p" style="color:white;"><b>9/27(土)KOMAFOODをリリースしました。駒澤大学周辺にはおしゃれなカフェや駒澤大学生にはあまり知られていないお店がたくさんあります。
         KOMAFOODを通じて新しい食と空間の出会いを提供できるようなサイトを目指します。今後、Food Categoryの追加、レビュー順に表示できるなどの機能実装をしてまいります。</b>
    </h2>
</div>
<p style="color:#45494b; text-align: center;">*駒澤大学から半径1km以内のカフェ情報を表示しています</p>

    
      <!-- <li class="tab_list active"><b>新着</b></li>
      <li class="tab_list"><b>直近開催</b></li>
      <li class="tab_list"><b>過去</b></li>
    </ul>
  </div> -->
  <h1 class="event_top" style="color:#45494b;"><i class="fab fa-elementor"></i>
    <b>Food Category</b>
</h1>
<div class="tab_box">
    <form action="/komafood" method='GET'>
    <ul class="tab" style="display: inline-block;">
    <li class="category_list"><b><button class='btn btn-outline-success' type="submit" name='category' value='cafe'>カフェ</button></b></li>
    <li class="category_list"><b><button class='btn btn-outline-success' type="submit" name='category' value='noodle'>ラーメン</button></b></li>
    </ul>
</form>
</div>
  


    

<div class="index_box">
    {% for result in results %}{% set A_list_loop = loop %}
        {% for photo in photos %}
            {% if loop.index==A_list_loop.index %}
            <a class='card_title' style="text-decoration: none; color : #000000;" href="https://www.google.com/maps/search/?api=1&query=駒澤大学+{{result['name']}}" target=”_blank”>

                <div class="post_box_index" style="color:#45494b;">
                    <div class="post_top">
                        <h1　class="index_title"><b>{{result['name']}}</b></h1>
                    </div>
                    <img class="index_image_index" align='center' src="{{photo}}" alt="">
                    <p>住所:{{result['vicinity']}}<br>
                    評価:{{result['rating']}}
                <a href="https://www.google.com/maps/search/?api=1&query=駒澤大学+{{result['name']}}" class="btn btn-outline-success">店舗情報詳細へ</a>

                </p>
            </a>

                <!-- <p style='font-size:12px;'>WEBサイト<br><a href="{{result['website']}}">{{result['website']}}</a></p> -->
                </div>
            {% endif %}
        {% endfor %} 
    {% endfor %} 
</div>

<a class="btn btn-outline-primary btn-sm" style="width:200px; auto;margin: 50px auto; display: block;" href="{{url_for('core.index')}}">KOMANEKO TOPへ</a>

{% endblock %}
