


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR_kA28YaVat4C4AG91yo7tD8ivN7z9dI" type="text/javascript"></script>

<script type="text/javascript">
  var map;
  function initialize() {
    // 地図を表示する際のオプションを設定
    var mapOptions = {
      center: new google.maps.LatLng(35.6288505, 139.65863579999996),
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    // Mapオブジェクトに地図表示要素情報とオプション情報を渡し、インスタンス生成
    map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
  }

  function search(){
    var place = document.getElementById('place').value;
    var geocoder = new google.maps.Geocoder();
    // ジオコーディング　検索実行
    geocoder.geocode({"address" : place}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var lat = results[0].geometry.location.lat();//緯度を取得
      var lng = results[0].geometry.location.lng();//経度を取得
      var ido = document.getElementById('ido')
        ido.innerHTML = lat;
        var keido = document.getElementById('keido')
        keido.innerHTML = lng;
        var mark = {
            lat: lat, // 緯度
            lng: lng // 経度
            };
            marker = new google.maps.Marker({ // マーカーの追加
            position: mark, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
            });

            map.setCenter(results[0].geometry.location); // 地図の中心を移動
            cnt =0;
            }
       });
       //}
    }

</script>

{% extends "base.html" %}
{% block content %}
<span id="ido" style="display:none;">35.6585805</span><br />
<span id="keido" style="display:none;">139.74543289999997</span>
<div class="container"　style="color:#45494b;">
  <form class="form-group" method="POST" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}

    <div class="form-group">
      <h5><i class="fas fa-cat"></i>{{form.title.label(class="form-control-label")}}</h5>
      <p>*SNSで拡散するとタイトルと画像が表示されます。</p>
        {{form.title(placeholder="分かりやすくキャッチなーイベント名にしましょう。",class="form_input form-control form-contorl-lg",onkeyup="ShowLength(value,inputlength1);")}}
        {% for error in form.title.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>

    <div class="form-group">
      <h5><i class="far fa-calendar-alt"></i>{{form.text.label(class="form-control-label")}}</h5>
      {{form.text(placeholder="イベントの概要や目的、詳細情報を具体的に記入してください。",style="height:300px;",class="form_input form-control",rows='50',cols='100')}}
      {% for error in form.text.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group" style="width:50%;">
      <h5><i class="far fa-calendar-alt"></i>{{form.event_date.label(class="form-control-label")}}</h5>
      {{form.event_date(placeholder="yyyy/mm/dd",class="form_input form-control form-contorl-lg")}}
      {% for error in form.event_date.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group" style="width:50%;">
      <h5><i class="far fa-calendar-alt"></i>{{form.event_time.label(class="form-control-label")}}</h5>
      {{form.event_time(placeholder="09:00",class="form_input form-control form-contorl-lg timepicker")}}
      {% for error in form.event_time.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
   
    <div class="form-group">
      <h5><i class="far fa-user"></i>{{form.organizer.label(class="form-control-label")}}</h5>
      {{form.organizer(placeholder="サークルやゼミなどは団体名。個人の場合は氏名を入力してください。",class="form_input form-control form-contorl-lg")}}
      {% for error in form.organizer.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      <h5><i class="fas fa-thumbtack"></i>{{form.place.label(class="form-control-label")}}</h5>
        {{form.place(placeholder="大学の教場、施設名や住所等を入力してください。",class="form_input form-control form-contorl-lg",id="place",value="駒澤大学")}}
        {% for error in form.place.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
        <button type="button" class="btn btn-outline-primary" onclick="search()">検索</button>
        <p>検索ボタンを押すとマップに結果が反映されます</p>
    </div>
    
    <div id="map_canvas" style="margin: 30px 0;width:100%; height:50%"></div>
    <div class="form-group">
      <h5><i class="far fa-check-circle"></i>{{form.entry.label(class="form-control-label")}}</h5>
        {{form.entry(placeholder="必要な持ち物、服装、資格、準備があれば入力してください(ヒント：学部限定ですか？駒澤大学生限定ですか？)",style="height:300px;",class="form_input form-control form-contorl-lg")}}
        {% for error in form.entry.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h5><i class="far fa-flag"></i>{{form.way.label(class="form-control-label")}}</h5>
        {{form.way(placeholder="事前に申し込みが必要な場合、Googleフォームなどのリンクや連絡先を設置することをおすすめします",style="height:300px;",class="form_input form-control form-contorl-lg")}}
        {% for error in form.way.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        <h5><i class="fas fa-yen-sign"></i>{{form.cost.label(class="form-control-label")}}</h5>
        {{form.cost(placeholder="参加にかかる費用を入力しましょう",class="form_input form-control form-contorl-lg")}}
        {% for error in form.cost.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h5><i class="far fa-address-card"></i>{{form.contact.label(class="form-control-label")}}</h5>
        {{form.contact(placeholder="イベントについてのお問い合わせ先(メールアドレス等)",class="form_input form-control form-contorl-lg")}}
        {% for error in form.contact.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h5><i class="far fa-images"></i>{{form.image.label(class="form-control-label")}}</h5>
      <p> *画像形式はjpg,png,jpeg,gifのみ対応しています。<br>
        *SNSで拡散する際にタイトルと画像が表示されます。イベントをイメージできる素敵な画像を選択しましょう。</p>
      {{form.image(class="form_input form-control form-contorl-lg triming")}}<br>
    <br>
      {% for error in form.image.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="preview">
    {% if post_image %}
      <img src="{{post_image}}" class="preview" id="remove_image">
    {% endif %}
    </div>


    <div class="form-group" style="width:100%;">
      {{form.submit(class="btn btn-outline-primary btn",style="margin-bottom:30px;")}}
    </div>


  </form>
<div id="out"></div>

</div>
<button class="js-crop">Crop!</button>

<!-- <div class="js-cropped-image"></div>

<div class="js-croppie"></div>
<script>
  $(function() {
  var $preview = $('#test3');

  var $croppie = $preview.croppie({
    // url: 'http://placekitten.com/500/800',
    enableExif: true,
    enableOrientation: true,    
    viewport: {
      width: 200,
      height: 200
    },
    boundary: {
      width: 300,
      height: 300
    }
  }); -->

  <!-- // buttonを押したらクロップ
  // $('.js-crop').on('click', function() {
  //   // 結果を出力
  //   $croppie.croppie('result', 'base64').then(function(base64) {
  //     $croppedImage = $('.js-cropped-image');
  //     $croppedImage.html('');
  //     $('<img>').attr('src', base64).appendTo($croppedImage);
  //   });
  // })
 }) -->

<!-- </script> -->


{% endblock %}
