{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group">
      <h3><i class="fas fa-cat"></i>{{form.title.label(class="form-control-label")}}</h3>
        {{form.title(placeholder="イベント名",class="form_input form-control form-contorl-lg")}}
        {% for error in form.title.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-calendar-alt"></i>{{form.text.label(class="form-control-label")}}</h3>
      {{form.text(style="height:300px;",class="form_input form-control",rows='50',cols='100')}}
      {% for error in form.text.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-calendar-alt"></i>{{form.event_date.label(class="form-control-label")}}</h3>
      {{form.event_date(class="form_input form-control form-contorl-lg")}}
      {% for error in form.event_date.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-user"></i>{{form.organizer.label(class="form-control-label")}}</h3>
      {{form.organizer(placeholder="団体名(サークル、部活など)",class="form_input form-control form-contorl-lg")}}
      {% for error in form.organizer.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="fas fa-thumbtack"></i>{{form.place.label(class="form-control-label")}}</h3>
        {{form.place(placeholder="例)駒澤大学　8号館8-123)",class="form_input form-control form-contorl-lg")}}
        {% for error in form.place.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-check-circle"></i>{{form.entry.label(class="form-control-label")}}</h3>
        {{form.entry(placeholder="必要な持ち物、資格など",style="height:300px;",class="form_input form-control form-contorl-lg")}}
        {% for error in form.entry.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-flag"></i>{{form.way.label(class="form-control-label")}}</h3>
        {{form.way(placeholder="参加フォームなどのURL",style="height:300px;",class="form_input form-control form-contorl-lg")}}
        {% for error in form.way.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        <h3><i class="fas fa-yen-sign"></i>{{form.cost.label(class="form-control-label")}}</h3>
        {{form.cost(placeholder="参加にかかる費用",class="form_input form-control form-contorl-lg")}}
        {% for error in form.cost.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-address-card"></i>{{form.contact.label(class="form-control-label")}}</h3>
        {{form.contact(placeholder="メールアドレス、HPのURLなど",class="form_input form-control form-contorl-lg")}}
        {% for error in form.contact.errors %}
          <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
      <h3><i class="far fa-images"></i>{{form.image.label(class="form-control-label")}}</h3>
      {{form.image(class="form_input form-control form-contorl-lg")}}
      *画像形式はjpg,png,jpeg,gifのみ対応しています。
      {% for error in form.image.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
    </div>


  </form>
<div id="out"></div>

</div>

{% endblock %}
