<head>
  <meta name="twitter:creator" content="@for_engineerb">
  <meta property="og:title" content="駒澤大学生向けのイベント共有サイト「KomaNeko」">
  <meta property="og:description" content="KomaNekoは駒澤大学生向けのイベント共有サイトです。KomaNekoでは部活、サークル、ゼミまたは個人が開催するイベントを簡単に共有することができます">
  <meta property="og:url" content="{{url}}">
  <meta name="twitter:site" content="@for_engineerb">
  <meta property="og:image" content="{{url}}static/komaneko_logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@for_engineerb">
  <meta name="twitter:title" content="駒澤大学生向けのイベント共有サイト「KomaNeko」">
  <meta name="twitter:description" content="KomaNekoは駒澤大学生向けのイベント共有サイトです。KomaNekoでは部活、サークル、ゼミまたは個人が開催するイベントを簡単に共有することができます">
</head>
{% extends 'base.html'%}
{% block content %}
<p class="page-top"><a class="fas fa-angle-up" href="#wrap"></a></p>

{% if not current_user.is_authenticated %}
<div class="site_box">
  <div class="site_title_box">
    <img class="title_image" src="static/19462.jpg" alt="Komaneco_logo">
  </div>
  <div class="site_intro_box">
  <div class="site_intro_box_inside">
    <h2 class="intro_p"><b>KomaNekoは駒澤大学生向けのイベント共有サイトです。<br>
    ワンキャンパスの強みを持つ駒澤大学には学年学部を超えた交流の場があり、ダイバシティな環境で様々な価値観や考えに触れることができます。
    KomaNekoでは部活、サークル、ゼミまたは個人が開催するイベントを簡単に共有し、TwitterやFacebookでシェアすることができます。</b></h2>
    <a href="{{url_for('users.login')}}" class="btn btn-outline-primary btn-lg" style="padding:10px;">ログイン</a>
    <a href="{{url_for('users.register')}}" class="btn btn-outline-success btn-lg">会員登録</a>
  </div>
  </div>
</div>
{% endif %}


<h1 class="event_top"><b>イベント一覧</b></h1>
<div class="tab_box">
  <ul class="tab" style="display: inline-block;">
    <li class="tab_list active"><b>新着順</b></li>
    <li class="tab_list"><b>直近開催イベント</b></li>
    <li class="tab_list"><b>人気順</b></li>
  </ul>
</div>

<div class="area">
  <div class="test show">
    {% for post in all_posts.items %}
      <div class="post_box">
        <div class="post_top">
          <h1 class="index_title"><b>{{post.title}}</b></h1>
        </div>
        <a class='card_title' href="{{ url_for('blog_posts.blog_post',blog_post_id=post.id)}}">
        <img class="index_image" align='center' src="{{post.event_image}}"></a>
        <!-- <a href="{{url_for('users.user_posts',username=post.author.username)}}">投稿者(団体名): {{post.author.username}}</a> -->
        <div class="card_bottom_box">
            <div class="like_box">
              <div class="like_box_like" >
              {% if current_user.is_authenticated %}
              {% if current_user.has_liked_post(post) %}
                <div class="button condition{{post.id}} fas fa-cat cat_like"  condition="unlike" post_id="{{post.id}}"></div>
              {% else %}
                <div  class="button condition{{post.id}} fas fa-cat cat_unlike" condition="like" post_id="{{post.id}}"></div>
              {% endif %}
            {% else %}
                <a class="fas fa-cat cat_login" href="{{url_for('users.register')}}"></a>
            {% endif %}
            <span class="count{{post.id}} like_count">{{ post.likes.count()}}</span>
            </div>
            <div class="post_box_place">
              <p><i class="fas fa-thumbtack"></i>場所:<b>{{post.place}}</b><br>
                <b><i class="far fa-clock"></i>開始時間:{{post.event_time.strftime('%H:%M')}}〜</b></p>

            </div>
          </div>
          <div class="event_date_box">
            <p class="event_date">開催日<br>
            <span style="font-size:12px;">{{post.event_date.strftime('%Y年')}}</span><br>
            {{post.event_date.strftime('%m月%d日')}}</p>
          </div>
        </div>
        <div class="post_user_box">
          <img align='center' class="user_image" src="{{post.author.profile_image}}">
          <h6 style="text-align:right;">投稿者:{{post.author.username}}<br>
            投稿日{{post.date.strftime('%Y年%m月%d日')}}</h6>
        </div>
      </div>
      {% endfor %}
  </div>
  <div class="test">
    {% for post in blog_posts.items %}
      <div class="post_box">
        <div class="post_top">
          <h1 class="index_title"><b>{{post.title}}</b></h1>
        </div>
        <a class='card_title' href="{{ url_for('blog_posts.blog_post',blog_post_id=post.id)}}">
        <img class="index_image" align='center' src="{{post.event_image}}"></a>
        <!-- <a href="{{url_for('users.user_posts',username=post.author.username)}}">投稿者(団体名): {{post.author.username}}</a> -->
        <div class="card_bottom_box">
            <div class="like_box">
              <div class="like_box_like" >
              {% if current_user.is_authenticated %}
              {% if current_user.has_liked_post(post) %}
                <div class="button condition{{post.id}} fas fa-cat cat_like"  condition="unlike" post_id="{{post.id}}"></div>
              {% else %}
                <div  class="button condition{{post.id}} fas fa-cat cat_unlike" condition="like" post_id="{{post.id}}"></div>
              {% endif %}
            {% else %}
                <a class="fas fa-cat cat_login" href="{{url_for('users.login')}}"></a>
            {% endif %}
            <span class="count{{post.id}} like_count">{{ post.likes.count()}}</span>
            </div>
            <div class="post_box_place">
              <p><i class="fas fa-thumbtack"></i>場所:<b>{{post.place}}</b><br>
                <b><i class="far fa-clock"></i>開始時間:{{post.event_time.strftime('%H:%M')}}〜</b></p>
            </div>
          </div>
          <div class="event_date_box">
            <p class="event_date">開催日<br>
            <span style="font-size:12px;">{{post.event_date.strftime('%Y年')}}</span><br>
            {{post.event_date.strftime('%m月%d日')}}</p>
          </div>
        </div>
        <div class="post_user_box">
          <img align='center' class="user_image" src="{{post.author.profile_image}}">
          <h6 style="text-align:right;">投稿者:{{post.author.username}}<br>
            投稿日{{post.date.strftime('%Y年%m月%d日')}}</h6>
        </div>
      </div>
      {% endfor %}
  </div>
  <div class="test">
    <h1 style="text-align:center; padding-top:30px;">現在準備中です</h1>
  </div>
</div>




<nav aria-label='Page Navigation example'>
    <ul class="pagination justify-content-center">
      {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
        {% if blog_posts.page == page_num %}
        <li class='page-item disabled'>
          <a class="page-link" href="{{url_for('core.index',page=page_num)}}">{{ page_num}}</a>
        </li>
        {% else %}
        <li class='page-item'>
          <a class="page-link" href="{{url_for('core.index',page=page_num)}}">{{ page_num}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</nav>


  {% endblock %}
