{% extends "base.html"%}
{% block content %}

<div class="form_box" style="color:#45494b;">
  <h1>ログイン</h1>
  <form  method="POST">
      {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label(class="form-control-label")}}
      {{form.email(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.password.label(class="form-control-label")}}
      {{form.password(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    {{form.submit(class="btn btn-outline-primary")}}<br>
    <p><b>アカウントをお持ちでないですか？</b><br>
      <a href="{{url_for('users.signup')}}">ユーザー登録(個人)</a><br>
      <a href="{{url_for('users.register')}}">アカウント登録(団体)</a></p>


  </form>

</div>

<div class="site_box" style="background-image:linear-gradient(-210deg, #BC32A4 0%, #E03768 50%, #F67C33 100%); opacity:0.9;">
  <div class="site_title_box">
    <img class="title_image" src="static/19462.jpg" alt="Komaneco_logo">
  </div>
  <div class="site_intro_box">
  <div class="site_intro_box_inside">
    <h2 class="intro_p" style="color:white;"><b>KomaNekoは駒澤大学生向けのイベント共有サイトです。<br>
    ワンキャンパスの強みを持つ駒澤大学には学年学部を超えた交流の場があり、ダイバシティな環境で様々な価値観や考えに触れることができます。
    KOMANEKOでは部活、サークル、ゼミまたは個人が開催するイベントを簡単に共有することができます。</b></h2>
  </div>
  </div>
</div>


{% endblock %}
