<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style>
.form_input:focus {
  background-color: yellow;
}
     </style>
{% extends "base.html"%}
{% block content %}



<div class="form_box" style="color:#45494b;">
  <h1>ログイン</h1>
  <p>*メールアドレスの認証確認後、ログイン可能になります</p>
  <form  method="POST">
      {{form.hidden_tag()}}
    <div class="input-field">
      {{form.email.label(class="form-control-label")}}
      {{form.email(class="form_input form-control form-contorl-lg validate",id="email")}}<br>
      {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.password(class="form_input form-control form-contorl-lg",value='12345678')}}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    {{form.submit(class="btn waves-effect waves-light")}}<br>
    <p><b>アカウントをお持ちでないですか？</b><br>
      <a href="{{url_for('users.signup')}}">ユーザー登録(個人)</a><br>
      <a href="{{url_for('users.register')}}">アカウント登録(団体)</a></p>

      <!-- <a class="waves-effect waves-light btn">button</a> -->

  </form>

</div>

<div class="site_box" style="background-image:linear-gradient(-210deg, #BC32A4 0%, #E03768 50%, #F67C33 100%); opacity:0.9;">
  <div class="site_title_box">
    <img class="title_image" src="static/19462.jpg" alt="Komaneco_logo">
  </div>
  <div class="site_intro_box">
  <div class="site_intro_box_inside">
    <h2 class="intro_p" style="color:white;"><b>KOMANEKOは団体情報とイベントを共有できる駒澤大学生向けのメディアサイトです。<br>
    KOMANEKOでは新入生に向けたサークルなどの団体情報を簡単に管理できるだけでなく、
    部活、サークル、ゼミナールまたは個人が開催するイベントを簡単に共有し、Twitterなどでシェアすることができます。<br>
    グーグルマップやQRコード、ブックマーク機能を活用して、団体とユーザーを繋ぐ役割を果たします。</b></h2>
  </div>
  </div>
</div>

  

{% endblock %}

