{% extends 'base.html'%}
{% block content %}

<div class="post_box">
  <div class="post_details">
    <h1><i class="far fa-edit" style="text-align:center;"></i><b>KOMANEKO運営メンバー</b></h1>
    <h2 class="details_title"><i class="far fa-calendar-alt"></i>KOMANEKO管理人/アプリケーションエンジニア</h2>
    <h3 style="text-align:left;">  駒澤大学経営学部経営学科四年　矢野大樹<br>
      インドへのIT留学を経て、ベンチャー企業でバックエンドエンジニアとして従事。管理画面、メディアページの開発を担当。
      pythonを独学で学んだ後、KOMANEKOを開発しリリース。トビタテ留学JAPAN!10期生理系コース日本代表に選出され、
      夏からアプリケーションエンジニアとしてサンフランシスコ、イスラエルを拠点に活動予定。<br>
      好きな言語はrubyとpython。
  </h3>


    <a class="btn btn-outline-primary btn-sm" style="width:200px; auto;margin: 50px auto; display: block;" href="{{url_for('core.index')}}">サイトのトップへ戻る</a>

    </div>

  </div>
</div>

  {% endblock %}
