{% extends 'base.html'%}
{% block content %}

<div class="post_box">
  <div class="post_details">
    <h1><i class="far fa-edit" style="text-align:center;"></i><b>KOMANEKO運営メンバー</b></h1>
    <h2 class="details_title"><i class="far fa-calendar-alt"></i>KOMANEKO管理人/アプリケーションエンジニア</h2>
    <h3>  駒澤大学経営学部経営学科四年　矢野大樹<br>KOMANEKO生みの親<br>インドへIT留学後、都内ペンチャー企業でバックエンドエンジニアとして管理画面、メディアページの開発に従事<br>
      トビタテ留学JAPAN!理系、複合・融合コース10期生として採択<br>シリコンバレーとイスラエルでエンジニアとして活動しながらKOMANEKOを運用中<br>
  </h3>
    <h2 class="details_title"><i class="far fa-calendar-alt"></i>KOMANEKO企画/SNSマーケティング担当</h2>
    <h3>駒澤大学GMS学部GMS学科<br>
    中谷悠希</h3>

    <a class="btn btn-outline-primary btn-sm" style="width:200px; auto;margin: 50px auto; display: block;" href="{{url_for('core.index')}}">サイトのトップへ戻る</a>

    </div>

  </div>
</div>

  {% endblock %}
