{% extends 'base.html'%}
{% block content %}

<div class="post_box">
  <div class="post_details">
    <h1><i class="far fa-edit" style="text-align:center;"></i><b>運営メンバー</b></h1>
    <h2 class="details_title"><i class="far fa-calendar-alt"></i>KOMANEKO開発者</h2>
    <h3 style="text-align:left;"> 駒澤大学経営学部経営学科四年　矢野大樹<br>
    トビタテ留学JAPAN!10期生理系コース日本代表<br>
      猫アレルギー。Twitterアカウント<a href="https://twitter.com/for_engineerb"><i class="fab fa-twitter" style="font-size:22px;color:#00acee;"></i></a>
  </h3>
  <h2 class="details_title"><i class="far fa-calendar-alt"></i>KOMANKEO企画・広報担当</h2>
  <h3 style="text-align:left;"> 駒澤大学グローバルメディアスタディーズ学部グローバルメディア学科四年　ユキ<br>
  実は中身は男です。
  </h3>
  <h2 class="details_title"><i class="far fa-calendar-alt"></i>KOMANKEO企画・広報担当</h2>
  <h3 style="text-align:left;">駒澤大学グローバルメディアスタディーズ学部グローバルメディア学科四年　加藤大雅<br>
  </h3>

    <a class="btn btn-outline-primary btn-sm" style="width:200px; auto;margin: 50px auto; display: block;" href="{{url_for('core.index')}}">サイトのトップへ戻る</a>
  </div>

  </div>
</div>

  {% endblock %}
