{% extends "base.html"%}
{% block content %}



<div class="form_box">
  <h1>アカウント登録(団体)</h1>
  <p><b>個人の方はこちら</b><a href="{{url_for('users.signup')}}">ユーザー登録(個人)</a></p>
  <form  method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label(class="form-control-label")}}
      {{form.email(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.username.label(class="form-control-label")}}<span>*半角英数字のみ有効</span><br>
      {{form.username(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.name.label(class="form-control-label")}}
      {{form.name(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.name.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.club_name.label(class="form-control-label")}}
      {{form.club_name(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.club_name.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.university.label(class="form-control-label")}}
      {{form.university(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.university.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.type.label(class="form-control-label")}}
      {{form.type(class="form_input form-control form-contorl-lg")}}<br>
      <p>団体カテゴリについては下記サイトをご参照ください。<br>
        <a target=”_blank” href="https://www.komazawa-u.ac.jp/campuslife/contact-information/student-part/extracurricular-activities-circle/introduction.html">駒澤大学サークル紹介</a>
      </p>
      {% for error in form.type.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>

    <div class="form-group">
      {{form.password(class="form_input form-control form-contorl-lg",value="12345678")}}<br>
      <!-- <span>*8文字以上のパスワードを設定してください</span> -->
    </div>
    <div class="form-group">
      {{form.recaptcha.label(class="form-control-label")}}
      {{ form.recaptcha }}
      {% for error in form.recaptcha.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <p><a href="{{url_for('core.term')}}" target=”_blank”>KOMANEKO利用規約</a></p>
    {{form.submit(class="btn btn-outline-primary")}}<br>
    <p><b>すでにアカウントをお持ちですか？</b><a href="{{url_for('users.login')}}">ログイン</a><br>
      <b>個人の方はこちら</b><a href="{{url_for('users.signup')}}">ユーザー登録(個人)</a></p>
  </form>
</div>

<div class="site_box" style="background-image:linear-gradient(-210deg, #BC32A4 0%, #E03768 50%, #F67C33 100%); opacity:0.9;">
  <div class="site_title_box">
    <img class="title_image" src="static/19462.jpg" alt="Komaneco_logo">
  </div>
  <div class="site_intro_box">
  <div class="site_intro_box_inside">
    <h2 class="intro_p" style="color:white;"><b>KOMANEKOは団体情報とイベントを共有できる駒澤大学生向けのメディアサイトです。<br>
    KOMANEKOでは新入生に向けたサークルなどの団体情報を簡単に管理できるだけでなく、
    部活、サークル、ゼミナールまたは個人が開催するイベントを簡単に共有し、Twitterなどでシェアすることができます。<br>
    グーグルマップやQRコード、ブックマーク機能を活用して、団体とユーザーを繋ぐ役割を果たします。</b></h2>
  </div>
  </div>
</div>

{% endblock %}
