{% extends "base.html"%}
{% block content %}
<div class="form_box">
  <h1>個人用ユーザー登録</h1>
  <p><b>団体アカウントを登録の方はこちら</b><a href="{{url_for('users.register')}}">団体アカウントを登録</a></p>
  <form  method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label(class="form-control-label")}}
      {{form.email(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.username.label(class="form-control-label")}}
      {{form.username(class="form_input form-control form-contorl-lg")}}<br>
      <span>*半角英数字のみ有効</span><br>
      {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.university.label(class="form-control-label")}}
      {{form.university(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.university.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.type.label(class="form-control-label")}}
      {{form.type(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.type.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>

    <div class="form-group">
      {{form.password.label(class="form-control-label")}}
      {{form.password(class="form_input form-control form-contorl-lg")}}<br>
      <span>*8文字以上のパスワードを設定してください</span>
    </div>
    <div class="form-group">
      {{form.pass_confirm.label(class="form-control-label")}}
      {{form.pass_confirm(class="form_input form-control form-contorl-lg")}}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span><br>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.recaptcha }}
    </div>
    <p><a href="{{url_for('core.term')}}">KOMANEKO利用規約</a></p>
    {{form.submit(class="btn btn-outline-primary")}}<br>
    <p><b>すでにアカウントをお持ちですか？</b><a href="{{url_for('users.login')}}">ログイン</a><br>
    <b>団体アカウントを登録の方はこちら</b><a href="{{url_for('users.register')}}">団体アカウントを登録</a></p>

  </form>
</div>

<div class="site_box">
  <div class="site_title_box">
    <img class="title_image" src="static/19462.jpg" alt="Komaneco_logo">
  </div>
  <div class="site_intro_box">
  <div class="site_intro_box_inside">
    <h2 class="intro_p"><b>KomaNekoは駒澤大学生向けのイベント共有サイトです。<br>
    ワンキャンパスの強みを持つ駒澤大学には学年学部を超えた交流の場があり、ダイバシティな環境で様々な価値観や考えに触れることができます。
    KomaNekoでは部活、サークル、ゼミまたは個人が開催するイベントを簡単に共有することができます。</b></h2>
  </div>
  </div>
</div>

{% endblock %}
