<head>
  <meta name="twitter:creator" content="@for_engineerb">
  <meta property="og:title" content="{{user.club_name}}">
  <meta property="og:description" content="{{user.info}}">
  <meta property="og:url" content="{{urls}}">
  <meta name="twitter:site" content="@for_engineerb">
  <meta property="og:image" content="{{user.profile_image}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@gfor_engineerb">
  <meta name="twitter:title" content="{{user.club_name}}">
  <meta name="twitter:description" content="{{user.info}}">
</head>


{% extends 'base.html'%}
{% block content %}
<div class="user_post_container" style="color:#45494b;">
  <div class="user_post_box">
    <a style="margin-top:10px;" href="https://twitter.com/share?ref_src=twsrc%5Etfw&hashtags=駒澤大学,KOMANEKO,{{user.club_name}}" class="twitter-share-button" data-text="{{user.club_name}}" data-hashtags="駒澤大学" data-hashtags="KOMANEKO" data-size="large"　data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h1 class="info_title"><i class="fas fa-user-friends"></i> 
      {% if user.type == 4 %}
      <span style="color: white;background-color: rgba(121,74,168,0.9)" class="badge badge-pill">公認</span>
      {% elif user.type == 5 %}
      <span style="color: white;background-color: rgba(121,74,168,0.9)" class="badge badge-pill">準公認</span>
      {% elif user.type == 6 %}
      <span style="color: white;background-color: rgba(121,74,168,0.9)" class="badge badge-pill">非公認</span>
      {% endif %}
      <b>{{user.club_name}}
      {% if user.username == current_user.username %}
        <a class="btn btn-outline-primary btn-sm" href="{{url_for('users.account')}}"><b>プロフィールを修正する</b></a>
      {% endif %}
    <br>代表者:{{user.name}}
    </b></h1>
    <div class="sns_logo">
      {% if user.twitter %}
        <a href="https://twitter.com/{{user.twitter}}"><img src="static/Twitter_Social_Icon_Square_Color.png" alt="Twitter" class="user_twitter"></a><br>
      {% endif %}
      {% if user.facebook %}
        <a href="https://facebook.com/{{user.facebook}}"><img src="static/f_logo_RGB-Blue_100.png" alt="facebook" class="user_facebook"></a><br>
      {% endif %}
      {% if user.instagram %}
        <a href="https://www.instagram.com/{{user.instagram}}"><img src="static/IG_Glyph_Fill.jpg" alt="instagram" class="user_instagram"></a><br>
      {% endif %}
    </div>

      <!-- {% if user.last_seen %} <p>Last seen on:{{user.last_seen}}</p>{% endif %} -->

    <img class="user_logo" src="{{user.profile_image}}">
    <h1 class="info_title"><i class="far fa-address-card"></i><b>団体プロフィールQRコード</b><br></h1>
    <div id="qrcode" style="width:150px; margin:0 auto;">
      <script type="text/javascript">
        var url = '';
        url += 'https://api.qrserver.com/v1/create-qr-code/?data=';
        url += encodeURIComponent(location.href);
        // 背景の色
        url += '&bgcolor=FFFFFF';
        // バーコードの色
        url += '&color=000000';
        // 余白
        url += '&qzone=0';
        // こっちも余白
        url += '&margin=0';
        // エラー訂正レベル
        url += '&ecc=L';
        // サイズ
        url += '&size=150x150';
        document.write('<img src=\"' + url + '\" />');
      </script>

    </div>
    <h1 class="info_title"><i class="far fa-address-card"></i><b>概要・活動実績</b><br></h1>
    {% autoescape false %}
    {% if user.info %}
      <p class="user_info">{{user.info.replace('\n', '<br>')}}</p>
      {% else %}
      <h2 class="no_user_info"><i class="far fa-flag"></i>投稿はありません</h2>
    {% endif %}
    {% endautoescape %}
    <h1 class="info_title"><i class="far fa-address-card"></i><b>年間行事</b><br></h1>
    {% autoescape false %}
    {% if user.event %}
      <p class="user_info">{{user.event.replace('\n', '<br>')}}</p>
      {% else %}
      <h2 class="no_user_info"><i class="far fa-flag"></i>投稿はありません</h2>
    {% endif %}
    {% endautoescape %}
<h1 class="info_title"><i class="fas fa-map-pin"></i><b>団体情報</b></h1>
<table class="table table-hover">
  <!-- <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead> -->
  <tbody>
    <tr>
      <th scope="row">公式ホームページ</th>
      {% if user.url %}
        <td><a href="{{user.url}}">{{user.url}}</a></td>
      {% else %}
        <td>情報はありません</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">活動人数</th>
      {% if user.club_number %}
        <td>{{user.club_number}}</td>
      {% else %}
        <td>情報はありません</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">活動場所</th>
      {% if user.club_place %}
        <td colspan="2">{{user.club_place}}</td>
      {% else %}
        <td>情報はありません</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">活動頻度</th>
      {% if user.club_active %}
        <td colspan="2">{{user.club_active}}</td>
      {% else %}
        <td>情報はありません</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">会費</th>
      {% if user.money %}
        <td colspan="2">{{user.money}}</td>
      {% else %}
        <td>情報はありません</td>
      {% endif %}
    </tr>
  </tbody>
</table>

  <h1 class="info_title"><i class="far fa-address-book"></i><b>過去の投稿</b></h1>
  </div>


</div>
<div class="index_box">
  {% for post in blog_posts.items %}
    <div class="post_box_index" style="color:#45494b;">
      <div class="post_top">
        <h1 class="index_title"><b>{{post.title}}</b></h1>
      </div>
      <a class='card_title' href="{{ url_for('blog_posts.blog_post',blog_post_id=post.id)}}">
      <img class="index_image_index" align='center' src="{{post.event_image}}"></a>
      <div class="card_bottom_box">
        <div class="like_box">
          <div>
            {% if current_user.is_authenticated %}
              {% if current_user.has_liked_post(post) %}
                <div class="button condition{{post.id}} fas fa-paw cat_like_index"  condition="unlike" post_id="{{post.id}}"></div>
              {% else %}
                <div  class="button condition{{post.id}} fas fa-paw cat_unlike_index" condition="like" post_id="{{post.id}}"></div>
              {% endif %}
            {% else %}
              <a class="fas fa-paw cat_login_index" href="{{url_for('users.register')}}"></a>
            {% endif %}
            <span style="font-size:13px;" class="count{{post.id}} like_count">{{ post.likes.count()}}</span>
          </div>
          <div class="post_box_place_index">
            <p><i class="fas fa-thumbtack"></i>場所:<b>{{post.place}}</b><br>
            <b><i class="far fa-clock"></i>開始時間{{post.event_time.strftime('%H:%M')}}〜</b></p>
          </div>
        </div>
        <div class="event_date_box_index">
          <p class="event_date_index">開催日<br>
          <span style="font-size:10px;">{{post.event_date.strftime('%Y年')}}</span><br>
          {{post.event_date.strftime('%m月%d日')}}</p>
        </div>
      </div>
      <div class="post_user_box">
        <a href="{{url_for('users.user_posts',username=post.author.username)}}">
          <img align='center' class="user_image" src="{{post.author.profile_image}}">
        </a>
        <h6 style="text-align:right;">投稿者:{{post.author.club_name}}<br>
          投稿日{{post.date.strftime('%Y年%m月%d日')}}
        </h6>
      </div>
    </div>
  {% else %}
    <div class="no_post_index" style="color:#45494b;">
      <h3 class="no_post"><i class="far fa-flag"></i>新着の投稿はありません</h3>
    </div>
  {% endfor %}
</div>
</div>

<nav aria-label='Page Navigation example'>
  <ul class="pagination justify-content-center">
    {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
      {% if blog_posts.page == page_num %}
      <li class='page-item disabled'>
        <a class="page-link" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{ page_num}}</a>
      </li>
      {% else %}
      <li class='page-item'>
        <a class="page-link" href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{ page_num}}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>
{% endblock content %}
