
/* base.html */


.flash_font{
  text-align:center; color:white;

}

.flash_color{
  margin-top:-50px;
}


/* header */
.test2{
  display:none;
}

header{
  height:90px;
  width:100%;
  background-color:rgba(121,74,168,0.9);
  left:0;
  position: fixed;
  top:0;
  z-index: 24;
}

.header_logo{
  position:absolute;
  left:20px;
  top:10px;
}

.header_left{
  display: inline;
  position:absolute;
  top:30px;
  left:300px;
}

.header_right{
  display: inline;
  position:absolute;
  top:30px;
  right:60px;
}

.header_list{
  color:white;
  display: inline;
  margin-left:20px;
  cursor:pointer;
  font-size:20px;
}

.menu{
  color:white;
  text-decoration: none;
}

.menu:hover{
  color: #c1a7db;
}

.menu_btn{
  display: none;
}

.header_logo{
  color:white;
  cursor:pointer;
  font-size:50px;

}

/* .header_list:hover{
  color: #c1a7db;


} */



/* フォーム */

.form_box{
  width:75%;
  margin: 20px auto;
}
.form_input{
  height:70px;
}

/* TOPへボタン */



.page-top{
  position: fixed;
  bottom: 10px;
  right:10%;
  font-size:77%;
  z-index:24;
  width:5%;
}

.page-top a{
  background:#ececec;
  text-decoration: none;
  color: black;
  width:100%;
  padding: 30px 0;
  text-align: center;
  display:block;
  border-radius:5px;
}



/* index.page */
.site_box{
  text-align:center;
  width:95%;
  height:auto;
  margin: 30px auto;
  background:rgba(157,51,214,0.2);
  border-radius:30px;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: center;
}

.site_title_box{
  width:100%;
}

.site_title_box img{
  border-radius: 30px;
}

.site_box_title{
  font-family:arial black;
  font-size:50px;
  padding:10px 0;
}

.title_image{
  height:500px;
  width:100%;
  margin-top:10px;
  padding-left:30px;
  padding-bottom:30px;
}

.site_intro_box{
  height:auto;
  width:100%;
}

.site_intro_box_inside{
  height: 400px;
  position: relative;
  top:170px;
}

.intro_p{
  font-size:29px;

  margin: auto 0;
  padding: auto 0;
  padding-top:30px;
  padding: 10px 40px;
  width:100%;
  line-height:50px;
}



.event_top{
  text-align: center;
  font-size:40px;
}

.post_box{
  width:60%;
  margin: 50px auto;
  border: solid 1px gray;
  box-shadow: 0 5px 5px rgba(0,0,0,0.6);
}

.post_top{
  display: flex;
}

.index_title{
  font-size:30px;
  padding-top:10px;
}

.card_title{
  text-decoration: none;
  color:black;
}

.index_image{
  height:700px; width:100%;
}

.card_bottom_box{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}

.like_box{
  display:flex;
  justify-content: flex-start;
}

.cat_like{
  color:purple;
  font-size:140px;
}

.cat_unlike{
  color:purple;
  opacity:0.3;
  font-size:140px;
}

.cat_login{
  color:purple;
  font-size:140px;
  text-decoration: none;
}
.cat_login:hover{
  color:purple;
  opacity:0.3;
}
.like_count{
  font-size:22px;
}

.post_box_place{
  margin-top:10px;
  font-size:20px;
}

.event_date_box{
  height:150px;
  width:150px;
  background:rgba(121,74,168,0.9);
  border-radius:50%;
  color:white;
  float:right;
  margin-right:20px;
}



.event_date{
  font-size:20px;
  position:relative;
  left:40px;
  top:30px;
}

.post_user_box{
    display: flex;
    margin:20px auto;
    width:95%;
}

.user_image{
  height:80px;
  width:80px;
  border-radius:50%;
}


/* End index.html  */

/* blog_post.html */
.post_like{
  position: fixed;
  top:240px;
  left:150px;
}

.post_details{
  text-align:center;
  width:95%;
  margin: 0 auto;

}

.post_info_box{
  display:flex;
  justify-content: space-around;
  position:relative;
  top:30px;

}

.event_date_post{
  position:relative;
  left:25px;
}

.post_info_details{
  margin:20px auto;
}

.author_name_post{
  font-size:25px;
  text-align:right;
}

.cat_like_details{
  color:purple;
  font-size:80px;
}

.details_title{
  border-bottom: 4px solid rgba(121,74,168,0.9);
  padding-top:20px;
  text-align: left;
  font-size:40px;
}

.post_details p{
  font-size:22px;
  text-align: left;
  line-hieght:30px;

}


/* all.html */


.all_container{
  text-align:center;
  width:95%;
  margin: 0 auto;
}

.all_box{
  width:80%;
  margin:50px auto;
  display: flex;
  justify-content: space-around;
}

.all_details{
  padding: 10px 10px;
  width:100%;
}

.all_name{
  font-size:25px;
}

.all_details img{
 border-radius:50%;
 height:400px;
 width:400px;
}


/* all.html */

/* user_blog_post.html */

.user_post_container{
  text-align:center;
  width:70%;
  margin: 0 auto;
}

.user_post_box{
  width:100%;
}

.user_twitter{
  height:80px;
  width:80px;
  border-radius:50%;
}

.user_facebook{
  height:80px;
  width:80px;
  border-radius:50%;
}

.user_instagram{
  height:80px;
  width:80px;
  border-radius:50%;
}

.user_logo{
  height:600px;
  width:900px;
  border-radius:10px;
}

.user_info{
  font-size:30px;
  padding:10px 30px;
}

.info_title{
  border-bottom: 4px solid rgba(121,74,168,0.9);
  margin:30px auto;
}
