
/* フォーム */
/* base.html */

/* .test{
  display:none;
}

.header-padding{
  display:none;
} */

.flash_font{
  text-align:center; color:white;
  font-size:20px;
}

.flash_color{
  margin-top:-80px;
}


/* フォーム */
.form_box{
  width:95%;
  margin: 20px auto;
}

.form_input{
  height:50px;
}

.preview{
  height:200px;
  width:95%;
}
.form-group{
  margin-top:30px;
}

.header-padding{
  padding: 70px 0;
}



/* TOPへボタン */

.page-top{
  position: fixed;
  bottom: 5%;
  right:5%;
  font-size:77%;
  z-index:24;
  width:20%;
}

.page-top a{
  background:#ececec;
  text-decoration: none;
  color: black;
  width:100%;
  padding: 30px 0;
  text-align: center;
  display:block;
  border-radius:5px;
}



/* index.page */

.tab_box{
  text-align:center;
  width:100%;
  margin: 0 auto;
  position:relative;
  top:20px;
  left: -20px;
}



.tab_list{
  display: inline;
  font-size:19px;
  cursor:pointer;
  padding: 0 2px;
  transition: .3s;
  border-radius: 5px;

}
.tab_list:hover{
  background-color: #c6baea;
  color: black;
  opacity: 0.9;
  border-radius: 5px;


}

.tab_box li.active {
  color: black;
  opacity: 0.9;
  background-color: #c6baea;
  cursor:pointer;

}

.test {
  display: none;
}
.test.show {
  display: block;
}

header{
  height:60px;
  width:100%;
  background-color: #794aa8;
  opacity:0.9;
  left:0;
  position: fixed;
  top:0;
  z-index: 24;
}
.header_logo{
  color:white;
  cursor:pointer;
  font-size:35px;
  top:10px;
  left:10px;
  position:absolute;
  display:block;
}

.header_cat{
  padding-right:10px;
}

.header_left,.header_right{
  position:absolute;
  top:25px;
}

.header_right{

  top:-20px;
}

.header_list{
  position: relative;
  top:40px;
  color:white;
  left:-10px;
  margin-left:10px;
  padding-top:20px;
  cursor:pointer;
  font-size:20px;
  list-style: none;

}
.header_sp{
  position: fixed;
  left: 0;
    top: 0;
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}



.menu{
  color:white;
  text-decoration: none;
}

.menu_btn{
  font-size:40px;
  position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
  z-index: 20;
}
.menu_btn span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .menu_btn {
    z-index: 20;
    position: absolute;
    width: 40px;
    height: 36px;
    right:10px;
    top: 10px;
  }
  .menu_btn span {
    position: absolute;

    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .menu_btn span:nth-of-type(1) {
    top: 0;
  }
  .menu_btn span:nth-of-type(2) {
    top: 16px;
  }
  .menu_btn span:nth-of-type(3) {
    bottom: 0;
  }
  .menu_btn.active span:nth-of-type(1) {
    -webkit-transform: translateY(16px) rotate(-45deg);
    transform: translateY(16px) rotate(-45deg);
  }
  .menu_btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-16px) rotate(45deg);
    transform: translateY(-16px) rotate(45deg);
  }


.header_sp.open{
  display:block;
}

.header_sp.close{
  display:none;
}

.menu:hover{
  color: #c1a7db;
}


.footer_right{
  display: inline;
  width:95%;
  position: relative;
  left:-12px;
  bottom:15px;


}

.footer_list{
  color:white;
  display: inline;
  cursor:pointer;
  font-size:12px;
  padding-right:10px;

}





.site_box{
  text-align:center;
  width:100%;
  height:auto;
  margin-bottom:30px;
  padding-bottom:40px;
  margin-top:0;
  background:rgba(157,51,214,0.2);
  border-radius:5px;
  box-shadow: 0 0 8px gray;
}

.site_box_title{
  font-family:arial black;
  padding:30px 0;
}

.title_image{
  margin:20px auto;
  height:300px;
  width:95%;
  border-radius:10px;
}

.site_intro_box{
  height:auto;
  width:100%;
}

.intro_p{
  font-size:20px;
  padding: 10px 10px;
  width:100%;
  line-height:35px;
}





.event_top{
  text-align: center;
  font-size:30px;
}

.post_box{
  width:95%;
  margin: 20px auto;
  border: solid 1px gray;
  box-shadow: 0 5px 5px rgba(0,0,0,0.6);
}



.post_top{
  display: flex;
}


.index_title{
  font-size:17px;
  padding-top:10px;
}


.card_title{
  text-decoration: none;
  color:black;
}

.card_title img{
  height:280px; width:100%;
}

.card_bottom_box{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}

.cat_like{
  color:purple;
  font-size:80px;
}

.cat_unlike{
  color:purple;
  opacity:0.3;
  font-size:80px;
}

.cat_login{
  color:purple;
  opacity:0.3;
  font-size:80px;
}

.cat_login:hover{
  color:purple;
}

.like_count{
  font-size:22px;
}


.post_box_place{
  font-size:13px;
}

.like_box{
  display:flex;
  flex-direction:column;
  margin-top:10px;
  width:200px;
}



.event_date_box{
  height:110px;
  width:110px;
  background:rgba(121,74,168,0.9);
  border-radius:50%;
  color:white;
  float:right;
  margin-right:10px;
}

.event_date{
  position:relative;
  left:25px;
  top:15px;
}




.user_image{
  height:40px;
  width:40px;
  border-radius:50%;

}

.post_user_box{
    display: flex;
    justify-content: space-around;
    margin:5px auto;
    width:100%;
}


.post_user h6{
  padding-top:10px;
  padding-left:10px;
}



/* End index.html  */

/* blog_post.html */

.post_like{
  position: fixed;
  bottom:3%;
  left:15px;
}

.post_copy{
  position:absolute;
  left:20px;
  font-size:40px;
  cursor:pointer;
}

.post_copy:hover{
  color:gray;
}

.post_details{
  text-align:center;
  width:95%;
  margin: 0 auto;
}

.post_details h1{
  font-size:20px;
}

.post_details h3{
  text-align:right;
  font-size:12px;
}

.cat_like_details{
  color:purple;
  font-size:40px;
}


.post_info_box{
  display:flex;
  justify-content:space-between;
}

.post_info_details{
    display: flex;
    justify-content: space-around;
    margin:5px auto;
    width:70%;
}

.event_date_post{
  position: relative;
  left:0;
}
.details_title{
  border-bottom: 2px solid rgba(121,74,168,0.9);
  text-align: left;
  font-size:20px;
}


/* all.html */


.all_container{
  text-align:center;
  width:95%;
  margin: 0 auto;
}

.all_box{
  width:80%;
  margin:50px auto;
  display: flex;
  flex-direction: column;
}

.all_details{
  padding: 10px 10px;
  width:100%;
}

.all_name{
  font-size:25px;
}

.all_details img{
 border-radius:50%;
 height:300px;
 width:300px;
}
/* all.html */

/* user_blog_post.html */

.sns_logo{
  position: fixed;
  left:10px;
}

.user_post_container{
  text-align:center;
  width:95%;
  margin: 0 auto;
}

.user_post_box{
  width:100%;
}

.user_twitter{
  height:50px;
  width:50px;
  padding: 2px 0;
  border-radius:50%;
}

.user_facebook{
  height:50px;
  width:50px;
  padding: 2px 0;
  border-radius:50%;
}

.user_instagram{
  height:50px;
  width:50px;
  padding: 2px 0;
  border-radius:50%;
}

.user_logo{
  height:300px;
  width:100%;
  border-radius:10px;
}

.user_info{
  font-size:20px;
}

.info_title{
  border-bottom: 4px solid rgba(121,74,168,0.9);
  font-size:20px;
  margin:20px auto;
}



.view_btn{
  padding-bottom: 10px;
}


/* アカウントページ */

.account_image{
  height:280px;
  width:100%;
  object-fit: cover;
}
