
/* フォーム */
.form_box{
  width:95%;
  margin: 20px auto;
}

.form_input{
  height:50px;
}

/* TOPへボタン */

.page-top{
  position: fixed;
  bottom: 5%;
  right:5%;
  font-size:77%;
  z-index:24;
  width:20%;
}

.page-top a{
  background:#ececec;
  text-decoration: none;
  color: black;
  width:100%;
  padding: 30px 0;
  text-align: center;
  display:block;
  border-radius:5px;
}



/* ヘッダー */

.test2{
  display:none;
}

header{
  height:60px;
  width:100%;
  background-color:rgba(121,74,168,0.9);
  left:0;
  position: fixed;
  top:0;
  z-index: 24;
}

.header_logo{
  color:white;
  cursor:pointer;
  font-size:35px;
  top:5px;
  left:10px;
  position:absolute;

}



.header_left,.header_right{
  position:absolute;
  top:25px;
}

.header_right{

  top:-20px;
}

.header_list{
  position: relative;
  top:40px;
  color:white;
  left:-10px;
  margin-left:10px;
  padding-top:20px;
  cursor:pointer;
  font-size:25px;
  list-style: none;

}
.header_sp{
  position: fixed;
  left: 0;
    top: 0;
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}



.menu{
  color:white;
  text-decoration: none;
}

.menu_btn{
  font-size:40px;
  position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
  z-index: 20;
}
.menu_btn span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .menu_btn {
    z-index: 20;
    position: absolute;
    width: 40px;
    height: 36px;
    right:10px;
    top: 10px;
  }
  .menu_btn span {
    position: absolute;

    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .menu_btn span:nth-of-type(1) {
    top: 0;
  }
  .menu_btn span:nth-of-type(2) {
    top: 16px;
  }
  .menu_btn span:nth-of-type(3) {
    bottom: 0;
  }
  .menu_btn.active span:nth-of-type(1) {
    -webkit-transform: translateY(16px) rotate(-45deg);
    transform: translateY(16px) rotate(-45deg);
  }
  .menu_btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-16px) rotate(45deg);
    transform: translateY(-16px) rotate(45deg);
  }


.header_sp.open{
  display:block;
}

.header_sp.close{
  display:none;
}


.header_logo{
  display:none;
}



.menu:hover{
  color: #c1a7db;
}


/* ヘッダー */





/* index.page */

.tab_box{
  text-align:center;
  width:100%;
  margin: 0 auto;
  position:relative; top:40px;
}

.tab_list{
  /* background-color: #c1a7db; */
  display: inline;
  padding: 0 40px;
  font-size:28px;
  border: 3px solid black;
  cursor:pointer;
  transition: .3s;
}
.tab_list:hover{
  background-color: rgba(157,51,214,0.9);
  color:white;
}

.tab_box li.active {
  color: white;
  background-color: rgba(157,51,214,0.9);
  cursor: auto;
}

.test {
  display: none;
}
.test.show {
  display: block;
}



.site_box{
  text-align:center;
  width:95%;
  height:auto;
  margin: 30px auto;
background:rgba(51,44,191,0.9);
color:white;
 border-radius:30px;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: center;
}

.site_title_box{
  width:100%;
}

.site_box_title{
  font-family:arial black;
  font-size:50px;
  padding:10px 0;
}

.title_image{
  height:600px;
  width:100%;
  border-radius: 30px;
  padding-left:30px;
  padding-bottom:30px;
}

.site_intro_box{
  height:auto;
  width:100%;
}

.site_intro_box_inside{
  height: 400px;
  position: relative;
  top:200px;
}

.intro_p{
  font-size:30px;
  margin: auto 0;
  padding: auto 0;
  padding-top:30px;
  padding: 10px 40px;
  width:100%;
  line-height:35px;
}






.event_top{
  text-align: center;
  font-size:40px;
}

.post_box{
  width:95%;
  margin: 20px auto;
  border: solid 1px gray;
  box-shadow: 0 5px 5px rgba(0,0,0,0.6);
}

.post_top{
  display: flex;
}


.index_title{
  font-size:20px;
  padding-top:10px;
}


.card_title{
  text-decoration: none;
  color:black;
}

.index_image{
  height:400px; 
  width:100%;
}

.card_bottom_box{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
}

.cat_like{
  color:purple;
  font-size:80px;
}

.cat_unlike{
  color:purple;
  opacity:0.3;
  font-size:80px;
}

.cat_login{
  color:purple;
  font-size:120px;
}

.cat_login:hover{
  color:purple;
  opacity:0.3;
}

.like_count{
  font-size:22px;
}


.event_date_box{
  height:100px;
  width:100px;
  background:rgba(121,74,168,0.9);
  border-radius:50%;
  color:white;
  float:right;
  margin-right:10px;
}

.event_date{
  position:
  relative;left:20px;
  top:10px;
}




.user_image{
  height:40px;
  width:40px;
  border-radius:50%;

}

.post_user_box{
    display: flex;
    margin:20px auto;
    width:95%;
}


.post_user h6{
  padding-top:10px;
  padding-left:10px;
}



/* End index.html  */

/* blog_post.html */

.post_details{
  text-align:center;
  width:95%;
  margin: 0 auto;
}

.post_details h1{
  font-size:20px;
}

.cat_like_details{
  color:purple;
  font-size:40px;
}

.details_title{
  border-bottom: 2px solid rgba(121,74,168,0.9);
  text-align: left;
  font-size:24px;
}


/* all.html */


.all_container{
  text-align:center;
  width:95%;
  margin: 0 auto;
}

.all_box{
  width:80%;
  margin:50px auto;
  display: flex;
  flex-direction: column;
}

.all_details{
  padding: 10px 10px;
  width:100%;
}

.all_name{
  font-size:25px;
}

.all_details img{
 border-radius:50%;
 height:200px;
 width:100%;
}





.view_btn{
  padding-bottom: 10px;
}
